.app {
  background-color: e7e7e7;
}

:root {
  --bg-light: #fff;
  --color-light: #000;

  --bg-dark: #000;
  --color-dark: #fff;

  --background-color: var(--bg-light);
  --text-color: var(--color-light);
}

body.dark {
  --background-color: var(--bg-dark);
  --text-color: var(--color-dark);
}
